@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.Text{
    text-align:justify;
}

.Footer{
    margin-bottom: 70px;
}

ion-toolbar {
    --background: #e4d9d3;
}

ion-content {
    --background: #e4d9d3;
}

ion-card {
    background: #e4d9d3;   
}

ion-item {
    --background: #e4d9d3;
}

.Text{
    font-family: 'Linux Libertine';
    src: url('/static/fonts/linux-libertine/LinLibertine_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


ion-card-header {
    font-family: 'Roboto', sans-serif;
}

.logo{
    background-image: url("logo_en_noir.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

ion-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}